src/test/resources/test-create-operation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:liferay="http://www.mulesoft.org/schema/mule/liferay" xmlns="http://www.mulesoft.org/schema/mule/core"
	  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/liferay http://www.mulesoft.org/schema/mule/liferay/current/mule-liferay.xsd">

	<configuration-properties file="automation-credentials.properties" />

	<liferay:config name="Liferay_Config">
		<liferay:basic-connection openApiSpecPath="${liferay.openApiSpecPath}" _username="${liferay.username}" _password="${liferay.password}" />
	</liferay:config>

	<flow name="test-create-product-flow">
		<liferay:get endpoint="/v1.0/products" config-ref="Liferay_Config" />
		<liferay:post endpoint="/v1.0/products" config-ref="Liferay_Config">
			<liferay:input-stream ><![CDATA[#[{
	"active": true,
	"catalogId": payload.items[0].catalogId,
    "description": {
    	"en_US": "Test Product"
    },
    "name": {
    	"en_US": "Test Product"
    },
    "productType": "simple"
}]]]></liferay:input-stream>
		</liferay:post>
	</flow>
</mule>